body {
    /* background-image: url("C:/Users/Camilo/Documents/SENA/Pagina/Prototipado/Logo 2d-Moon.png");*/
    background-color: #C4BEBB;
  }
 /* Barra de navegacion*/
 nav a {
    float: right;
    margin: 0px;
    border: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;  
    text-decoration: none;
    font-size: 18px;  
    font-family: sans-serif;
}
nav a:hover{
    background-color: #242833;
    color: #FF6600;
}
nav input{
    width: 300px;  
    margin-left: auto;  
    margin-right: auto;
    padding: 4px;  
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242833;
}
nav li {
    display: inline;
   
}
/**/
h1 {
    text-align: center;
}
hr{
    margin-left: 150px;
    margin-right: 150px;
}

/*Tabla*/
#carrito-container {
 
    padding: 20px;
    border: solid;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #242833;
    color: white;
}

td:hover img {
    transform: scale(1.05);
}

.producto-imagen {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

#total-container {
    text-align: right;
    margin-top: 20px;
}

#checkout {
    background-color: #242833;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout:hover {
    background-color: #45a049;
}

.eliminar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.eliminar:hover {
    background-color: #c0392b;
}


/*Footer*/
.footer {
    background-color: #242833;  /* Fondo oscuro acorde a tu paleta */
    color: #DDD0C8;  /* Texto beige claro */
}

.footer h5 {
    color: #FF6600;  /* Color de acento naranja */
    font-weight: bold;
}

.footer a {
    color: #f1f1f1;  /* Texto claro para los enlaces */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #FF6600;  /* Cambia a naranja en hover */
}

.footer i {
    font-size: 24px;
    color: #f1f1f1;  /* Íconos de redes sociales en color claro */
    margin-right: 15px;
    transition: color 0.3s ease;
}

.footer i:hover {
    color: #FF6600;  /* Íconos se vuelven naranja al hacer hover */
}

.footer .text-center p {
    color: #DDD0C8;  /* Texto en color beige claro */
}