body {
    /* background-image: url("C:/Users/Camilo/Documents/SENA/Pagina/Prototipado/Logo 2d-Moon.png");*/
    background-color: #C4BEBB;
 }

 /* Barra de navegacion*/
nav a {
    float: right;
    margin: 0px;
    border: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;  
    text-decoration: none;
    font-size: 18px;  
    font-family: sans-serif;
}
nav a:hover{
    background-color: #242833;
    color: #FF6600;
}
nav input{
    width: 300px;  
    margin-left: auto;  
    margin-right: auto;
    padding: 4px;  
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242833;
}
nav li {
    display: inline;
   
}

h1, h2 {
    color: black;
}

.list-group-item {
    font-size: 16px;
    padding: 15px;
}

#tarjeta, #vencimiento, #cvv {
    letter-spacing: 3px;
}

.btn-primary {
    
    border: none;
}


/*Footer*/
.footer {
    background-color: #242833;  /* Fondo oscuro acorde a tu paleta */
    color: #DDD0C8;  /* Texto beige claro */
}

.footer h5 {
    color: #FF6600;  /* Color de acento naranja */
    font-weight: bold;
}

.footer a {
    color: #f1f1f1;  /* Texto claro para los enlaces */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #FF6600;  /* Cambia a naranja en hover */
}

.footer i {
    font-size: 24px;
    color: #f1f1f1;  /* Íconos de redes sociales en color claro */
    margin-right: 15px;
    transition: color 0.3s ease;
}

.footer i:hover {
    color: #FF6600;  /* Íconos se vuelven naranja al hacer hover */
}

.footer .text-center p {
    color: #DDD0C8;  /* Texto en color beige claro */
}
